:root{
    --banner-home: url("images/banners/home.png");
    --banner-events: url("images/banners/events.png");
    --banner-gallery: url("images/banners/gallery.png");
    --banner-faq: url("images/banners/faq.png");
    --banner-contact: url("images/banners/contact.png");


    --bg-gray:#363638;
    --bg-grid-gray: #3f3f3f;
    --bg-purple: #a55dff;
    --bg-pink: #dd71ff;

    --text-purple: #a55dff;
    --text-pink: #dd71ff;
    --text-main: #efefef;

    --font-heading: "Helvetica Neue Bold Condensed";
    --font-subheading: "ITC Avant Garde Gothic LT Demi";
    --font-text: "ITC Avant Garde Gothic Std Medium Condensed";

}

@font-face{
    font-family: "Helvetica Neue Bold Condensed";
    src: url(fonts/HelveticaNeueBoldCondensed.ttf);
}

@font-face{
    font-family: "ITC Avant Garde Gothic LT Demi";
    src: url(fonts/ITCAvantGardeGothicLTDemi.ttf);
}

@font-face{
    font-family: "ITC Avant Garde Gothic Std Medium Condensed";
    src: url(fonts/ITCAvantGardeGothicStdMediumCondensed.ttf);
}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ol, ul{
    list-style-type: none;
}

html{
    font-size: 10px;
}

body{
    background-color: var(--bg-gray);
    background-size: 30px 30px;
    background-image:
        linear-gradient(to right, var(--bg-grid-gray) 2px, transparent 2px),
        linear-gradient(to bottom, var(--bg-grid-gray) 2px, transparent 2px);
    color: var(--text-main);
    margin: 2.5% 15% 2.5% 15%;
    font-family: var(--font-text);
}

h1{
    font-family: var(--font-heading);
    color: var(--text-purple);
    font-size: 4rem;
}

h2{
    font-family: var(--font-subheading);
    color: var(--text-pink);
    font-size: 2rem;
}

p{
    font-family: var(--font-text);
    font-size: 18px;
}

img{
    object-fit: cover;
}




body > header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

body > header img{
    display: block;
}

.site-links{
    width: 60%;
    vertical-align: middle;
}

.site-links ol{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.site-links li{
    text-align: center;
    font-size: 2.5rem;
    flex: 1;
}

.site-links a{
    position: relative;
    color: var(--text-purple);
    font-family: var(--font-heading);
    text-decoration: none;
    padding-bottom: 0.5rem;
}

.site-links a:before, .current:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: white;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .2s linear;
}

.site-links a:hover:before, .current:after{
    visibility: visible;
    transform: scaleX(1);
}








.banner{
    width: 100%;
    height: 25vw;
    border: 3px solid white;
    margin: 5% 0 5% 0;
    padding: 3rem 35% 3rem 5rem;
    background-size: cover;
    background-position: center;
}

#home .banner{
    background-image: var(--banner-home);
}
#events .banner{
    background-image: var(--banner-events);
}
#gallery .banner{
    background-image: var(--banner-gallery);
}
#faq .banner{
    background-image: var(--banner-faq);
}
#contact .banner{
    background-image: var(--banner-contact);
}








body > footer{
    background-color: var(--bg-pink);
    border-radius: 10px;
    margin-top: 5%;
    padding: 2.5rem 0 5rem 5rem;
}

body > footer span{
    font-size: 2.5rem;
    font-family: var(--font-text);
}

body > footer p{
    font-size: 5rem;
    font-family: var(--font-heading);
}

.social-media li{
    display: inline-block;
    margin: 0 5px 0 5px;
}

.social-media a{
    display: block;
    border-radius: 50%;

}

.social-media img{
    float: left;
    border-radius: 50%;
}






#home h1, #home h2{
    font-size: 4rem;
    font-family: var(--font-heading);
    color: var(--text-purple);
}

#home h1{
    margin: 5% 0 5% 0;
}


.banner p{
    font-size: 4vw;
    font-family: var(--font-heading);
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.8);
}

.banner a{
    display: block;
    color: var(--text-main);
    text-decoration: none;
    background-color: var(--bg-purple);
    border-radius: 10px;
    margin-top: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 2vw;
    width: 20vw;
}

.banner a:after{
    content: ">";
    float: right;
}





#about-kotx{
    width: 100%;
    display: flex;
    margin: 5% 0 5% 0;
}

#about-left, #about-right{
    flex: 1;
}

#about-left > img{
    width: 24vw;
    height: 18vw;
    border-radius: 10px;

}

#about-left > article{
    padding-right: 6rem;
}

#about-left p:not(:last-of-type){
    padding-bottom: 5%;
}

#about-right{
    position: relative;
}

#about-right > img:first-of-type{
    position: absolute;
    top: 50%;
    right: 0;
    width: 18vw;
    height: 27.5vw;
    border-radius: 10px;
    transform: translateY(-50%);
}

#about-right > img:nth-of-type(2){
    position: absolute;
    top: 50%;
    left: 0;
    width: 18vw;
    height: 18vw;
    border-radius: 10px;
    transform: translateY(-50%);
}


#social-dance{
    display: flex;
    justify-content: space-between;
}

#social-dance h3{
    font-size: 2rem;
    font-family: var(--font-text);
    font-weight: normal;
    color: var(--text-pink);
    padding-top: 0.5rem;
}

#social-dance > img{
    width: 24vw;
    height: 24vw;
    border-radius: 10px;
}

#social-dance > article{
    width: 65%;
    padding-left: 5%;
}

#social-dance-info{
    display: flex;
    justify-content: space-between;
}

#social-dance-info > *{
    flex: 1;
}

#social{
    padding-right: 2rem;
}

#dance{
    padding-left: 2rem;
}







#gallery-grid{
    margin: 5% 0 5% 0;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: stretch;
}












#faq > main > section > header{
    margin-bottom: 4rem;
}

#faq > main > section > header p{
    font-size: 4rem;
    font-family: var(--font-heading)
}

.question{
    padding: 1.5rem 0 1.5rem 0;
}

.question > h2{
    font-family: var(--font-subheading);
    font-size: 2rem;
    padding-bottom: 0.5rem;
}
.question > p, .question > ul{
    font-family: var(--font-text);
    font-size: 1.75rem;
    font-weight: normal;
}